appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
currencies==2014.7.13
defusedxml==0.7.0rc1
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.7
django-admin-thumbnails==0.2.5
django-allauth==0.44.0
django-bootstrap3==14.1.0
django-braces==1.14.0
django-ckeditor==5.9.0
django-countries==7.0
django-crispy-forms==1.10.0
django-currencies==0.10.1
django-grappelli==2.14.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.11.1
dnspython==2.0.0
filelock==3.0.12
google==3.0.0
gunicorn==20.0.4
idna==2.9
isort==4.3.21
jsonfield==2.1.1
lazy-object-proxy==1.4.3
liqpay-python==1.0
Markdown==3.2.2
mccabe==0.6.1
mysql-connector-python==8.0.21
mysqlx-connector==0.0.8
numpy==1.19.0
oauthlib==3.1.0
PaycomUz==2.2
Pillow==7.1.2
pipenv==2020.8.13
protobuf==3.13.0
psycopg2==2.8.5
pyaml==20.4.0
pycparser==2.20
pygame==1.9.6
PyJWT==1.7.1
pylint==2.5.3
python-gettext==4.0
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
soupsieve==2.0.1
sqlparse==0.3.1
stripe==2.50.0
telebot==0.0.3
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.29
virtualenv-clone==0.5.4
whitenoise==5.2.0
wrapt==1.12.1
